<div class="row info-wrapper">

    <div class="col-seven tab-full info-main">
        <h1>About me.</h1>
        <p>
        I'm a graduate of Electrical Electronics Engineering with love for gadgets and programming. 
        When I'm not writing codes, I play games, watch soccer, read books, write and draw. 
        I love music, travelling, good movies and watching people dance! 
        I dabble with electronics too, well why not! I'm able!.
        </p>

        <p>
        Favourite quote: Sometimes people who no one imagined something of, do the things no one can imagine.
        </p>
    </div>

    <div class="col-four tab-full pull-right info-contact">

        <div class="info-block">
            <h3>Meet for Icecream</h3>
            
            <p class="info-address">
                Lagos,<br>
                Nigeria,<br>
                Africa
            </p>
        </div>

        <div class="info-block">
            <h3>Start A Conversation</h3>
            <p>
                <a href="mailto:avatarable@gmail.com" class="info-email">avatarable@gmail.com</a><br>
                <a href="tel:+234814539320" class="'info-phone">+234 814539320</a>
            </p>
        </div>

        <div class="info-block">
            <h3>Find Me On</h3>
            
            <ul class="info-social">
                <li>
                    <a href="https://twitter.com/Avatar_Able"><i class="fab fa-twitter" aria-hidden="true"></i>
                    <span>Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/Avatarable"><i class="fab fa-github" aria-hidden="true"></i>
                    <span>Github</span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/able-nkanta-5a6bb575/"><i class="fab fa-linkedin" aria-hidden="true"></i>
                    <span>Linkedin</span></a>
                </li>
            </ul>
        </div>
        
    </div>  <!-- end info contact -->

</div>
