<main class="s-home s-home--static">

    <div class="overlay"></div>

    <!-- Nav -->
    <div class="nav-div" id="nav">
        <ul>
            <li>
                <a href="#" id="about-nav">About</a>
                <a routerLink="/projects">Projects</a>
                <a href="#" class="contact-nav">Contact</a>
            </li>
        </ul>
    </div>

    <div class="home-content">

        <div class="home-logo">
            <a href="profile.html">
                <strong style="font-size: 20px;">ⁱᵃᵐ🅐🅑🅛🅔</strong>
            </a>
        </div>

        <!-- Home content -->
        <div class="row home-content__main">

            <div class="col-eight home-content__text pull-right">
                <h3>Hello</h3>

                <h1 class="cd-headline clip is-full-width">
                    <span class="my-name">I'm Able.</span><br>

                    <span class="cd-words-wrapper">
                        <b class="is-visible">Decadev</b>
                        <b>Web Developer</b>
                        <b>Designer</b>
                    </span>
                </h1>

                <p>Design. Create. Inspire.</p>

                <div class="home-content__subscribe">
                    <button class="about">About me</button>
                </div>
            </div>  <!-- end home-content__text -->

            <div class="col-four home-content__counter">
                <h3></h3>

                <img src="assets/images/ABLEstripDarker.jpg" alt="">

        </div>  <!-- end home-content__main -->

        <ul class="home-social">
            <li>
                <a href="https://twitter.com/Avatar_Able"><i class="fab fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://github.com/Avatarable"><i class="fab fa-github" aria-hidden="true"></i><span>Github</span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/able-nkanta-5a6bb575/"><i class="fab fa-linkedin" aria-hidden="true"></i><span>Linkedin</span></a>
            </li>
        </ul> <!-- end home-social -->

        <div class="row home-copyright">
            <span>Copyright © 2021</span> 
            <span><a href="http://www.avatarable.org/">Avatarable</a></span>
        </div> <!-- end home-copyright -->

        <div class="home-content__line"></div>

    </div> <!-- end home-content -->
    </div>

</main> <!-- end s-home -->

<!-- info
================================================== -->
<a class="nav-toggle" href="#0">
    <span class="info-menu-icon"></span>
</a>

<div class="s-info">
    <!-- ABOUT ME ===== -->
    <app-about></app-about>

</div> <!-- end s-info -->

<app-contact></app-contact>
