<div id="wrapper">
    <!-- nav -->
    <a class="nav-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>
    <div class="nav-div" id="nav">
        <ul>
            <li>
                <a href="index.html" id="profile-nav">Home</a>
                <a href="#" active>Projects</a>
                <a href="#" class="contact-nav">Contact</a>
            </li>
        </ul>
    </div>

    <div id="main">
        <div class="inner">
            <div id="columns02" class="container">
                <div class="inner">
                    <span style="font-size:20px; color:  #0F312E;">ⁱᵃᵐ🅐🅑🅛🅔</span>
                    <h1 id="text01">PROJECTS</h1>
                    <hr id="divider03">
                    <p id="text04">Design. Create. Inspire.</p>
                </div>
            </div>
            <div id="columns01" class="container">
                <div class="inner">
                    <div>
                        <div id="" class="image">
                            <img src="assets/images/Do3.jpg" alt=""/>
                        </div>
                    </div>
                    <div>
                        <p id="text06">Do.</p>
                        <hr id="divider01">
                        <p id="text07">An easy todo app to create a list of tasks or items. Never again will those ideas slip our minds, 
                            because we can now put them on a list! Developed with Python Kivy.</p>
                    </div>
                </div>
            </div>
            <div id="columns03" class="container">
                <div class="inner">
                    <div>
                        <p id="text09">Mini Course Recorder</p>
                        <hr id="divider04">
                        <p id="text02">Record your details, courses and grades. Developed with Python Tkinter</p>
                    </div>
                    <div>
                        <div id="" class="image">
                            <span>
                                <img src="assets/images/recordmgt.jpg" data-src="assets/images/image01.jpg?v02453492066351" alt=""/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="columns04" class="container">
                <div class="inner">
                    <div>
                        <div id="" class="image">
                            <span>
                                <img src="assets/images/acctbk2.jpg" data-src="assets/images/image02.jpg?v02453492066351" alt=""/>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p id="text03">Account Book</p>
                        <hr id="divider02">
                        <p id="text10">A simple system for performing basic accounting processes 
                            like recording and calculation of income & expenses, and easy generation of cash books. Developed with C#.</p>
                    </div>
                </div>
            </div>
            <div id="columns03" class="container">
                <div class="inner">
                    <div>
                        <p id="text09">Barcode Object Finder</p>
                        <hr id="divider04">
                        <p id="text02">Are you trying to find a lost item from a stack? Or confirm a tagged item is part of the rest? Scan your items. Find your items! Developed with Python Tkinter.</p>
                    </div>
                    <div>
                        <div id="" class="image">
                            <span>
                                <img src="assets/images/sampleDark.jpg" data-src="assets/images/sampleLight.png" alt=""/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="columns04" class="container">
                <div class="inner">
                    <div>
                        <div id="" class="image">
                            <span>
                                <img src="assets/images/mm.jpg" data-src="assets/images/image02.jpg?v02453492066351" alt=""/>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p id="text03">Mastermind Game</p>
                        <hr id="divider02">
                        <p id="text10">A single player Mastermind game, with two levels. Developed with Python Kivy</p>
                    </div>
                </div>
            </div>


            <div id="columns05" class="container">
                <div class="inner">
                    <p id="text08">Would love me in your team, or just want to sit over a cup of icecream?!</p>
                    <div id="btnContact" class="buttons">
                        <a href="#" class="button n01 contact-nav alignBtn">Contact</a>
                    </div>
                </div>
            </div>
            <ul id="icons01" class="icons">
                <li>
                    <a class="n01" href="https://twitter.com/Avatar_Able">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="n03" href="https://github.com/Avatarable">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a class="n05" href="mailto:avatarable@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
            </ul>
            <p id="text05">© Avatarable. All rights reserved.</p>
        </div>
        
    </div>

    <!-- Contact -->
    <app-contact></app-contact>

</div>


